<p>
  24時間マラソンに挑戦したいと思い、まずは半分の12時間マラソンをしてみました。
</p>
<p>
  ただ僕の場合、長距離は不得意なのでランニングは無しでウォーキングのみで
  挑戦してみました。
</p>
<p>
  中野セントラルパークからディズニーランドまで片道ちょうど25kmだったので、
  往復50kmというルートで行いました。
</p>
<img src="https://gyazo.com/4f2b75b6c257a6d7969609f7740a9092/raw/" />
<p class="caption">
  今回のルート
</p>
<p>
  結果から言いますと、後半足が痛くなりながらも、
  なんとか12時間以内に帰ってくることができました。
</p>
<img src="https://gyazo.com/272016835c5489789467e323dc8250e7/raw/" />
<p class="caption">
  帰ってきた時の中野セントラルパーク
</p>
<p>
  最初の4時間くらいは楽しかったです。
</p>
<p>
  太陽の光を浴び外の空気を吸いながら歩くのはとても心地よかったです。
</p>
<p>
  太陽って重要ですね。午後3時に出発するのは馬鹿でした。
</p>
<img src="https://gyazo.com/6c3dee42982927d2d2be4fdb78a659a3/raw/" />
<p class="caption">
  出発から約2時間後の神楽坂
</p>
<p>
  4時間後あたりから足の疲労は感じてました
  信号待ちのときとかにストレッチしながら行ったのでなんとか耐えました。
</p>
<p>
  往路では、東京駅に寄りました。
</p>
<p>
  東京駅の八重洲側にある地下の一番街で、なんとキングダムハーツの
  ポップアップストアが設置されてました。
</p>
<p>
  中学校のころかなりはまっていたので、思わず足を止めてしまいました。
</p>
<p>
  他にもお菓子とか買っていたので、東京駅で3、40分は消費してしまいました。
</p>
<img src="https://gyazo.com/7aa9bc71eef0f0d73bc556b78a668a6b/raw/" />
<p class="caption">
  出発から約4時間後の東京駅
</p>
<img src="https://gyazo.com/7ab3df5878b314c0d0e07437c992b947/raw/" />
<p class="caption">
  買ったキングダムハーツグッズ
</p>
<p>
  その後からは、海が近づくにつれて潮の匂いや
  海辺の夜景などを見ることができて、エモかったです。
</p>
<p>
  この記事のトップ画像は、佃大橋からの夜景です。
</p>
<p>
  ただ、その先の新木場あたりからは精神的にきつかったです。
</p>
<p>
  建物も少なくなってきて、海か道路しかないみたいな状態が続いたからです。
</p>
<p>
  しかも少し雨が降ってきたので、音楽を聴きながら気分を紛らわしました。
</p>
<img src="https://gyazo.com/7c810ae842f48ed7ac27224a7590a848/raw/" />
<p class="caption">
  出発から約6時間後の舞浜大橋
</p>
<p>
  出発から約6時間20分後、ディズニーランドのエントランスに到着することができました。
</p>
<p>
  閉園前に到着できて良かったです（まぁ、入らないんですけど）。
</p>
<img src="https://gyazo.com/008c961386b4236fc9c11036d8cbeb0d/raw/" />
<p class="caption">
  ディズニーランドのエントランス
</p>
<p>
  さぁ、マラソン的にはやっと半分です。
</p>
<p>
  帰りの約4時間後、つまり出発から約10時間後からついに足が痛くなってきました。
</p>
<p>
  筋肉痛とかじゃなくて、足裏の重心がかかってる部分がヤバかったです。
</p>
<p>
  でも我慢できる範囲だったので、なるべくペースを緩めずに歩きました。
</p>
<p>
  結果、出発から約11時間40分後、中野に戻ってくることができました。
</p>
<img src="https://gyazo.com/24332bca6385dbd9f8891e94a7756af1/raw/" />
<p class="caption">
  生還後の中野
</p>
<p>
  東京駅でだいぶ時間をロスしたと思いましたが、案外余裕を持って戻ってこれました。
</p>
<p>
  50km12時間チャレンジ成功です。
</p>
<p>
  次は100km24時間とかで、本当の24時間マラソンしてみたいですね（走らないけど）。
</p>
<p>
  お疲れ様でした！
</p>
