<p>
    この研究は、EC2022で提案した<a href="https://t-kawashima-univ.onrender.com/articles/research/aAloud">あアラウド法</a>を、英名で「Ah-aloud」と名付け、英語話者への応用可能性を議論したものです。
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/dfaiFm703Nc" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
<p>
    またシンクアラウド法と比べて、言語化の負担や反応性（実験手法自体が実験結果へ影響を与えること）が低減できると仮定し、実験をおこないました。
</p>
<p>
    統計的に分析した結果、低減は見られませんでしたが、シンクアラウド法とは異なり、ユーザの感情が多く取得できる実験手法であることが分かりました。
</p>
<p>
    今後はエンタテインメント領域の実験手法としての確率を目指していきます。
</p>