<p>
  人間の周辺視野には、写ったものを無意識的に処理するという特性があります。
  </p>
  <p>
  この特性を利用し、周辺視野にあえて視覚刺激を与えることで様々な効果を得るという
  研究が多くなされています。
</p>
<p>
  例えば、
  <a href="https://ipsj.ixsq.nii.ac.jp/ej/?action=pages_view_main&active_action=repository_view_main_item_detail&item_id=90536&item_no=1&page_id=13&block_id=8">レース映像の体感速度を大きくさせたり</a>、
  <a href="https://dl.nkmr-lab.org/papers/119">集中力をコントロールしたり</a>、
  <a href="https://dl.nkmr-lab.org/papers/128">体感時間を短くさせたり</a>
  するという研究があります。
</p>
<p>
  このように、周辺視野とコンテンツを組み合わせることによって
  コンテンツの体験を向上させることができます。
</p>
<p>
  しかし、それらの研究はPCなどの大きなディスプレイでしか実験されていません。
  そこで私は、周辺視野への視覚刺激をスマートフォンでも応用できないかと思い実験を行いました。
</p>
<div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/RgoI5zFDjuY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<p>
  上の動画のように、実験協力者に2種類の視覚刺激をランダムな順番で同じ時間だけ提示し、
  どちらの視覚刺激の方がどの程度短く感じたか7段階で答えてもらいました。
</p>
<ul>
  <li>スピナー（ぐるぐる）のみのアニメーションの視覚刺激の方が短いと感じた場合 → 値を4より小さく（1に近づける）</li>
  <li>どちらのアニメーションも同じ時間だと感じた場合 → 値を4にする</li>
  <li>スピナー+波のようなアニメーションの視覚刺激の方が短いと感じた場合 → 値を4より大きく（7に近づける）</li>
</ul>
<p>
  このとき、2種類とも同じ時間だけ提示しているということは実験協力者に伝えていません。
</p>
<p>
  この実験システムはSwiftで実装し、iPhone8の端末で実験しました。
</p>
<p>
  実験協力者には、真ん中のスピナーだけを見てもらいました。
</p>
<p>
  そこで、片方の視覚刺激に表示される周りの波のようなアニメーションが
  周辺視野へ刺激を与えると仮定しました。
</p>
<p>
  仮定が成り立つと、
  <a href="https://dl.nkmr-lab.org/papers/128">先行研究</a>のように
  体感時間が短くなると考えられます。
</p>
  <img src="https://gyazo.com/f47f6b1e12806780bcbfaa1f65eb1a71/raw/" />
  <p class="caption">
  実験結果
  </p>
<p>
  結果は上のグラフの通りです。
</p>
<p>
  数値が4より大きければ、波のようなアニメーションの方が短く感じ、
  4より小さければその逆です。
</p>
<p>
  目とスマートフォンの距離が10cmと15cm以上のとき、
  つまり視野範囲が中心から約20度を境にして結果が別れました。
</p>
<p>
  ばらつきはあるものの、距離が10cmのときに値が4より大きくなる傾向があり、
  距離が15cm、20cm、25cmのときは値が4より小さくなる傾向がありました。
</p>
<p>
  この結果から、
  <span style="font-size:1.1em; font-weight:bold;">
    中心視野を約20度としたときの周辺視野に視覚刺激を与えることで、体感時間を短くさせられる
  </span>可能性が示唆されました。
</p>
<p>
  よって、スマートフォンでもある一定の距離（10cm〜14cm）以内ならば、
  周辺視野への視覚刺激が有効になる可能性が示唆されました。
</p>
<p>
  距離が15cmより大きい時に体感時間が長く感じたのは、
  <a href="https://www.jstage.jst.go.jp/article/psychono/25/2/25_KJ00004574149/_article/-char/ja/">先行研究</a>
  の「中心視野で見ている運動物体の速度が大きいほど体感時間も大きく知覚される」
ということが影響しているのだと思います。
</p>
<p>
  以上が2019年度後期の研究成果です。
</p>
<p>
  学会などへは特に出していません。
</p>
