<iframe width="560" height="315" src="https://www.youtube.com/embed/Pu6R-Xf0-J0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>
<p>
  <a href="http://checklot.tea-kawashima.work/" target="_blank">Checklot</a>
</p>
<p>
  パソコンでも使用できますが, スマートフォンでの使用を推奨します.
</p>
<p>
  研究として, スマホ向けに開発した選択行動を支援するWebアプリケーションです.
</p>
  <p>
例えば上の動画のように, 選択肢が複数ある中からどれか一つを選ぶことに迷った時に, 手軽にかつ素早くランダム抽選をしてくれます.
</p>
<p>
  写真を撮影, もしくは写真フォルダから選択肢のある画像を持ってきて, 選択肢を丸で囲みます.
</p>
<p>
  丸で囲んだ選択肢の中から, ドラムロールの音とともにランダムに抽選してくれます.
</p>
<p>
  優柔不断な人におすすめなアプリケーションです.
</p>
<p>
  使用例はこちらの動画をご覧ください↓
</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/Fmn2G8SeKkI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
  </iframe>
