<p>
  Webプログラミング実習という授業の最終課題で作成しました.
</p>
<p>
実際に使ってみた動画がこちら↓になります.
</p>
<p>
  手軽にアンケートを作成し, 結果を素早く共有できるアプリケーションを作成しました.
</p>
<p>
  想定する利用者は, 主に「ローカルなコミュニティにおいて集団で行動している人々」です.
</p>
<p>
  例えば, 集団で旅行に行っている時, 「次の観光場所はどこにしようか」, 「休憩をはさむか否か」, 「グループを分けて別行動するか」等の選択に迫られる時があります.
</p>
<p>
  集団の人数が多ければ多いほど, 意見が一つにまとまらなかったり, 話を聞いていなくて次の行動を把握していない人が出てきたりする場合があります.
</p>
<p>
  また, 少数意見が尊重されなかったり, 同調圧力で自分の意見が言えなかったりということもあります.
</p>
<p>
  そうした集団での選択が難しい場面において, 活躍できるアプリケーションです.
</p>
<p>
  その場ですぐにアンケートを取ることが目的なので, スマートフォンやタブレット等の端末で使用することを前提とします.
</p>
<h3>操作方法</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/X_Hi1WM4WOk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>
<p>
  トップ画面には, 4桁の番号を入力するフォーム, 「グループに入る」ボタン, 「新規グループ作成」ボタンがあります.
</p>
<p>
  グループを作成する場合, 「新規グループ作成」ボタンを押すと, 4桁のグループ番号を発行します.
</p>
<p>
  グループが作成されていた場合は, 4桁のグループ番号を入力してから「グループに入る」ボタンを押すことでグループに入室することができます.
</p>
<p>
  グループを作ったらアンケートを手動で作成するかか自動で作成するかが選択できます.
</p>
<p>
  手動で作成する場合は, アンケートの詳細設定画面に移動します.
</p>
<p>
  詳細設定では, 制限時間の有無, リアルタイムでのグラフを表示の有無, 選択肢を3つ以上に変更するかが設定できます.
</p>
<p>
  グラフはドーナツ型で表示します.
</p>
<p>
  自動で作成する場合は, 制限時間は60秒, グラフ表示は無し, 選択肢は2つで変更不可の設定でアンケートを作成します.
</p>
<p>
  グループに入室した時点で, それぞれに4桁の仮ユーザ番号を発行し, ログイン状態となります.
</p>
<p>
  詳細設定をもとにアンケート画面を作成します.
</p>
<p>
  初期はYes/Noの2択のボタン, 「おまかせ！」ボタン, プラスとマイナスのボタンがあります.
</p>
<p>
  制限時間, グラフ, プラスとマイナスボタンについては設定次第では表示しません.
</p>
<p>
  また, ユーザが回答済みか否かも確認することができます.
</p>
<p>
  プラスとマイナスボタンを押すことで, 選択肢の数を変更できます.
</p>
<p>
  上限は4つまであり, 3つ以上になると選択肢のYes/NoがA/B/C/Dという表示になります.
</p>
<p>
  選択肢の数を2つに戻すと, 再びYes/Noの表示になります.
</p>
<p>
  4桁のグループ番号は常に表示しているので, 途中で入室したい人がいる場合にも, すぐにグループ番号を伝えることができます.
</p>
<p>
  左上にはメニュー画面を開くボタンがあり, 開くとユーザ名の変更, 使い方を見れる「ヘルプ」, トップ画面に戻れる「新規グループ作成」が利用できます.
</p>
<p>
  時間を設定した場合には制限時間経過後, 設定してない場合は一番下にある「終了」ボタンを押すことで結果画面に移動します.
</p>
<p>
  結果画面では, それぞれに選択したユーザの仮ユーザ番号(名前を変更した場合にはその名前)が表で見れます.
</p>
<p>
  また, 割合もグラフで確認することができます.
</p>
<p>
  「戻る」ボタンでトップ画面に戻ることができます.
</p>
<h3>使用技術</h3>
<p>
  グループ, ユーザ, アンケートの情報はPHPを用い, SQLでデータベースへの読み書きを行っています.
</p>
<p>
  4桁の番号は, PHPでランダムに発行しています.
</p>
<p>
  アンケートの結果等はデータベースに読み書きし, サーバの管理はJavaScriptのライブラリNode.jsを使用しています.
</p>
<p>
  メニュー画面開閉と選択肢増減のアニメーションは, JavaScriptを使用しています.
</p>
<p>
  グラフの表示は, JavaScriptのライブラリChart.jsを使用しています.
</p>
<p>
  私は主にHTML・CSSを用いてデザインなどのフロントエンドを担当しました.
</p>
