<p>
  私が大学のサークル活動に対して貢献したことは主に2つあります。
</p>
<p>
  1つ目は「ジャンルリーダー」<br/>
  2つ目は「SNS・WEB関係の管理」です。
</p>

  <h3>1. ジャンルリーダー</h3>
  <p>
    私はサークルの中での最高学年時の1年間、ロックダンスというジャンルのリーダーを務めました。
  </p>
  <p>
    メンバーの練習内容を考えたり、スケジュールの調整、スタジオ代などのお金の管理を行なっていました。
  </p>
  <p>
  現役最後の学祭では、ジャグリングサークルとのコラボパフォーマンスも行いました。
</p>
<p>
  そこでは、ダンスパード全般の振り付け作成や指導、ジャグリングサークルとの連絡・スケジュール調整を担当しました。
  </p>

  <h3>2. SNS・WEB関係の管理</h3>
  <p>
    主な仕事としては、以下の通りです。
    <ul>
      <li>ホームページの運営</li>
      <li>TwitterのDM（ダイレクトメッセージ）への対応</li>
      <li>YouTubeアカウントの改良</li>
      <li>Scrapboxの導入</li>
    </ul>
  </p>
  <p>
    ホームページは↓こちら↓です。<br/>
    <a href="https://signnakano.wordpress.com/" target="_blank">中野ダンスサークル SIGN</a>
  </p>
  <p>
    ホームページ自体は前からありましたがほとんど更新されていなかったので、
    活動の様子やイベントの告知などの記事を積極的に投稿しました。
  </p>
  <p>
    また、サイドメニューの改良やカテゴリの整理を行いました。
  </p>
<img src="https://gyazo.com/a23e2951b293a27a82468beddcd35feb/raw/" />
<p class="caption">
  サークルのホームページ
</p>
  <p>
    Twitterアカウントは↓こちら↓です。<br/>
    <a href="https://twitter.com/sign_dance" target="_blank">明治大学 中野ダンスサークルSIGN - Twitter</a>
  </p>
  <p>
    YouTubeアカウントは↓こちら↓です。<br/>
    <a href="https://www.youtube.com/channel/UCDN0uEvl_q8jQnf6H8oPspQ" target="_blank">中野ダンスサークルSIGN - YouTube</a>
  </p>
  <p>
    ヘッダーへのリンクの追加、アップロード動画のデフォルト設定など、細かい改良を行いました。
  </p>
  <img src="https://gyazo.com/a3677fc75ce5ac81d25a588a7a045132/raw/" />
  <p class="caption">
    サークルのYouTube
  </p>
  <p>
    <a href="https://scrapbox.io/product" target="_blank">Scrapbox</a>は、チーム内で簡単にノートを共有できるサービスです。
  </p>
  <p>
    諸々の資料や議事録の管理に最適なツールだと考え、導入を提案しました。
  </p>
  <p>
    資料やアドバイスを次の代へ引き継ぐときなどに活用しました。
  </p>
<img src="https://gyazo.com/cb8e3190dc491da511c6f5eb27617e02/raw/">
<p class="caption">
  サークルのScrapbox
</p>
