<p>
  私は大学のサークル活動を通して、学んだことが2つあります。
</p>
<p>
  　1つ目は「新しいことに挑戦することの楽しさ」、<br/>
  　2つ目は「マネジメント能力」です。
</p>
  <h3>1. 新しいことに挑戦することの楽しさ</h3>
  <p>
    まず第一に、新しいことに挑戦することの楽しさを学びました。
  </p>
  <p>
    大学生になるまでは、中学校の授業で少し触れた以外ではダンスを経験したことが全くありませんでした。
    </p>
    <p>
    高校生のときにダンスの動画をYouTubeやニコニコ動画などで見始め、徐々に興味が湧いてきました。
    </p>
    <p>
    大学生になって上京し、周りの環境もガラッと変わったことを機に「ダンスも始めてみよう」と思い、ダンスサークルに入りました。
  </p>
  <p>
    ダンスサークルに入って、最初はブレイクダンス（Break）というアクロバティックな動きが求められるジャンルを始めました。
    </p>
    <p>
    高校生のとき見ていたダンス動画の中で、一番カッコ良いジャンルだと思っていたためです。
  </p>
  <p>
    ブレイクダンスの動きが難しく、一つの技を習得するのにとても時間がかかりました。
    </p>
    <p>
    しかし、できるようになってくると達成感や自分の成長を感じることができて嬉しかったです。
    </p>
    <p>
    また、どうしたら自分のダンスをカッコ良く魅せられるのかということを、鏡で自分の動きを確認しながら試行錯誤することも楽しかったです。
    </p>
      <img src="https://gyazo.com/fa9e4c553457ff6e36388221735079c2/raw/" />
      <p class="caption">ブレイクダンスのある技のコツを掴んできたときの写真</p>
    <p>
   ブレイクダンスの他にも、ロックダンス（Lock）というジャンルに挑戦しました。
    </p>
    <p>
    ロックダンスはある程度技や動きのパターンが決まっている分、同じ動きでも激しく動いたりあえて力を抜いて動いたりと、様々なスタイルがあります。
    </p>
    <p>
      自分はどんなスタイルが好きで、どのスタイルが向いているのかなどを考えながら練習することが楽しかったです。
    </p>
    <p>
    また、自分の好きなダンサーはどんなスタイルなのかも常に研究し、真似してみたりしながら試行錯誤していました。
    </p>
    <p>
    サークルで練習する以外にも、積極的に外部のダンスイベントに参加しました。
    </p>
    <p>
    そこで自分の好きなスタイルのダンサーや、新しい動きを見つけたりすることで学んでいきました。
    </p>
    <p>
    自分がダンスに興味を持ったキッカケでもあるイベントにも行き、ダンスに対するモチベーションをあげていました。
    </p>
    <p>
      大学から新しくダンスに挑戦し、その中でも更に新たな発見がありどんどんダンスにのめり込んでいきました。
    </p>
    <p>
      難しい動きができなかったり自分のスタイルが迷走したりと困難はたくさんありましたが、ダンスを通して新しいことに挑戦することの楽しさを学びました。
    </p>

  <h3>2. マネジメント能力</h3>
  <p>
    私はサークルの中での最高学年時の1年間、ロックダンスというジャンルのリーダーを務めました。
    </p>
    <p>
    私はもともと人の上に立つような人間ではなかったのですが、同期が少ないということもあり、この役職になりました。
  </p>
  <p>
    メンバーの練習内容を考えたり、スケジュールの調整、スタジオ代などのお金の管理を行なっていました。
  </p>
  <p>
  学祭前は特に忙しかったです。自分のサークルのパフォーマンス以外にもジャグリングサークルとのコラボパフォーマンスがあり、
  そこでもジャグリングサークルの代表の方との連絡とダンスの総合指導を担当していました。
  </p>
  <div>
  <blockquote class="twitter-tweet tw-align-center"><p lang="ja" dir="ltr">中野ダンスサークルSIGN×ジャグリングサークルDietz、着々と練習を進めています！😀大人数でのダンス、とても見応えのあるものになりそうです🔥😊<a href="https://twitter.com/hashtag/%E6%98%8E%E5%A4%A7%E7%A5%AD?src=hash&amp;ref_src=twsrc%5Etfw">#明大祭</a>
    <a href="https://twitter.com/hashtag/%E4%B8%AD%E5%A4%9C%E7%A5%AD?src=hash&amp;ref_src=twsrc%5Etfw">#中夜祭</a><a href="https://twitter.com/hashtag/%E6%98%8E%E6%B2%BB%E6%99%82%E4%BB%A3%E3%81%AF%E7%B5%82%E3%82%8F%E3%82%89%E3%81%AA%E3%81%84?src=hash&amp;ref_src=twsrc%5Etfw">#明治時代は終わらない</a>
    <a href="https://twitter.com/hashtag/%E6%8B%A1%E6%95%A3%E5%B8%8C%E6%9C%9B?src=hash&amp;ref_src=twsrc%5Etfw">#拡散希望</a> <a href="https://t.co/gX6DFDVbvY">pic.twitter.com/gX6DFDVbvY</a></p>
    &mdash; 中野ダンスサークルSIGN×ジャグリングサークルDietz (@135_chuyasai_1) <a href="https://twitter.com/135_chuyasai_1/status/1184054357093863428?ref_src=twsrc%5Etfw">October 15, 2019</a>
  </blockquote>
  </div>
    <p class="caption">ダンスの指導をしていたときの動画</p>
  <p>
  そんな忙しい中で「マネジメント能力」が学べました。
  </p>
  <p>
  「リマインドは早めにかつ頻繁に行う」「コミュニティを良い雰囲気に保つ」「状況によってはアメだけでなくムチも使う」など、
  初歩的なことばかりですが、今まで経験してこなかったので新鮮な学びでした。
  </p>
  <p>
  私のマネジメントが上手くできたかは分かりませんが、
  良い雰囲気のまま次の代に引き継げたんじゃないかと思います。
  </p>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
