<p>
  ゲームではなく, あくまで模倣のつもりです（課題の内容がゲーム禁止だったため）.
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/pk-D87UQ4Fk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>
<p>
 リアリティ追求のために風向きを導入しました.
</p>
<p>
  最初にクリックすることで風向きが決まり, 軌道の確認ができます.
</p>
<p>
  確認後, スペースキーを押すことでクレーが発射されます.
</p>
<p>
  クリックで球をうち, 当たると特典が増えます. 右キーを押すことで, 次のプレイヤーに変わります.
</p>
<p>
  もう一度クリックで風向きを変えるところからの繰り返しです.
</p>
<p>
  たまに鳥や人が飛んでくるのですが, 球を当ててしまったらもちろん減点です.
</p>
<p>
  判定がガバガバで, 球の軌道が次の球が発射されるまで残っているため,
  その残っている軌道に当たっても当たり判定になります.
</p>
<p>
いつか作り直したいですね(作り直すとは言ってない).
</p>
