<p>
  私はダンスサークルに所属していた（現役引退済み）のですが、YouTubeを見ながら振り付けのコピーをしていたときに、「こんな機能あったら便利だな」と思い作成しました。
</p>

<p>
  ダウンロードはこちらから → <a href="https://chrome.google.com/webstore/detail/make-dance-practice-effic/fmddclclnanabpdbbplifadfdolbpogd?hl=ja">Make dance practice efficient for YouTube™️ - chrome ウェブストア</a>
</p>

<p>
  機能は主に2つあります。<br/>
　1. 鏡のように動画を左右反転する<br/>
　2. 再生速度を細かく調整する
</p>
<p>
  これらの機能だけです。左右反転なら某MirrorTubeがあるし、再生速度の細かい調整は最近YouTubeオリジナルでもできるようになりましたが、これらの操作を簡単にかつダンス練習の障害にならないように設計しました。
</p>

<p>
  使い方を詳しく説明します。
</p>
<p>
  これから「ポップアップ」という言葉ができますが、それはChromeの右上の拡張機能のアイコンを押した時に現れるメニュー画面のことを指します。
</p>
<h3>1. 鏡のように動画を左右反転する</h3>
<p>
ポップアップの「Mirror」という項目のトグルスイッチで切り替えができます。
</p>
<p>
また、キーボードで"Ctrl（Macの場合はCommand）+M"を押すことでも切り替えができます。
</p>
<h3>2. 再生速度を細かく調整する</h3>
<p>
再生速度の倍率は、0.1倍~2.0倍まで0.1刻みでの調整ができます。
</p>
<p>
ポップアップの「Speed Rate」という項目のスライダーを操作することで切り替えができます。
</p>
<p>
また、キーボードで"Ctrl（Macの場合はCommand）+右方向キー"で+0.1倍、"Ctrl（Macの場合はCommand）+左方向キー"で-0.1倍することができます。
</p>
<img src="https://gyazo.com/c9af5c03db553f56723f75ce82729a47/raw/" />
<p class="caption">
  使用例
</p>
<p>
みなさまのダンスライフがより豊かになることを願っています。
</p>
