<p>
  こちらに上げています →
  <a  href="https://tea-kawashima.work/hp_dancecircle/">DANCE CIRCLE</a>
</p>
<p>
Reactを勉強したので、
それを使って架空の学生ダンスサークルのホームページを作成してみました。
</p>
<p>
また、WEBデザインの練習も兼ねています。
</p>
<p>
Reactはそれぞれのパーツをクラスで分けているので、
htmlファイルが複雑にならなくて良いなと思いました。
</p>
  <img src="https://gyazo.com/da44c5974872cc9d8170a8598d451f01/raw/" />
  <p class="caption">
    「Information」と「お問い合わせ・SNS」のページ（モバイル）
  </p>
<p>
CSSのスタイルはモバイルファーストにしました。
</p>
<p>
学生ダンスサークルなので、見る人はパソコンよりスマホの方が多いだろうな
と思ったからです。
</p>
<p>
動画をトップ画面に使ったりして、デザインはシンプルにカッコよく、
内容は入サー希望者が知りたそうなものを載せました。
</p>
<p>
一番のお気に入りは、「お問い合わせ・SNS」の内容のデザインです。
</p>
  <img src="https://gyazo.com/388dd9e64e983f7ca1674ff3c3958b90/raw/" />
  <p class="caption">
    「ジャンル紹介」のページ（デスクトップ）
  </p>
