<p>
    研究会では、僕は主にデモセッションを担当しました。
</p>
<p>
    発表中の記録を取り損ねたので、上の画像はデモの再現画像です。
</p>
<p>
    登壇発表は共著の岡くんが担当してくれました。
</p>
<blockquote class="twitter-tweet tw-align-center">
    <p lang="ja" dir="ltr">
        エンタテインメントコンピューティング2021にて「研究利用しやすく標準性を目指したビデオゲームの設計と開発」と題して、研究発表を行いました。<br><br>ゲーム研究者が使いやすい著作権フリーのオープンビデオゲームライブラリを開発しました。<a
            href="https://t.co/oASIh9MLcg">https://t.co/oASIh9MLcg</a><a
            href="https://twitter.com/hashtag/entcomp2021?src=hash&amp;ref_src=twsrc%5Etfw">#entcomp2021</a> <a
            href="https://t.co/6fJbKPWsXU">pic.twitter.com/6fJbKPWsXU</a></p>&mdash; 渡邊恵太 研究室✨明治大学 先端メディアサイエンス学科
    (@keita_lab) <a href="https://twitter.com/keita_lab/status/1432621682531844098?ref_src=twsrc%5Etfw">August 31,
        2021</a>
</blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<p>
    初めてのオンラインでの学会参加ないしデモセッションだったので、進行方法・デモの魅せ方など多くの課題が残りました。
</p>
<p>
    この経験をもとに、今後はもっと議論が盛り上がるようなデモをしたいと思います。
</p>