<p>
    福知山公立大学で開催されたEC2022にて、以下の研究を発表してきました。
</p>
<p>
    <a
        href="https://t-kawashima-univ.onrender.com/articles/research/aAloud">あアラウド法：体験中の心理プロセスを「あ」の音声情報で評価する手法の提案と検証</a>
</p>
<p>
    口頭発表とデモ発表を行いました。
</p>
<p>
    最優秀論文賞とグッドプレゼンテーション賞を受賞することができました！ありがとうございました。
</p>
<img src="https://gyazo.com/4aff844654976a8224a4bfe72d1e6a05/raw/" alt="発表中の様子" />
<p>
    今回も観光は控えましたが、その分食に全力を尽くしました。
</p>
<p>
    京都でのご飯美味しかったです。
</p>
<img src="https://gyazo.com/dcab13aa9018acd64c9b7038c5f312f0/raw/" alt="福知山で食べた鴨しゃぶ" />