<p>
  こちらに論文と発表スライド,
  <a href="https://dl.nkmr-lab.org/papers/181">
  　研究報告 研究報告商品選択においてフォントがユーザの選択行動に及ぼす影響の調査 - 明治大学 中村研究室 論文レポジトリ
   </a>
</p>
<p>
こちらに参加報告の記事が載っています.
  <a href="http://nkmr-lab.org/news/hcs2019_fontchoice_kawashimatsukidate.html">
    　HCS研究会にて「商品選択においてフォントがユーザの選択行動に及ぼす影響の調査」というタイトルで発表してきました（川島拓也・築舘多藍） - 中村聡史研究室
    </a>
</p>
<p>
この研究は, フォントは商品選択に影響しているのかを実験した研究になります.
</p>
<p>
詳しくは上のリンクから見てもらえれば早いと思います. 論文も記事も頑張って書いたのでぜひ.
</p>
<p>
例えば上の画像のように味が並べられていたら, どれを選びますか？
</p>
<p>
今回の研究では, タコヤキが一番選ばれていました.
</p>
<p>
  タコヤキの印象とあの力強い筆で書いたようなフォントのイメージが合致したのだと思います.
</p>
<p>
4種類のお菓子と9種類のフォントで実験していて, 他にも選ばれやすい組み合わせがいくつかあったので, ざっと紹介します.
</p>
<img border="0" src="https://gyazo.com/7ecdf005788c0379e97b6d37006855ab/raw/" alt="goodCombination">
<p class="caption">
  相性の良いフォントと味の組み合わせ
</p>
