<p>
    毎回Zoomを用いて研究発表会を行ってきましたが、今回はデモセッションもすることにしたため「Gather」というサービスを利用してみました。
</p>
<blockquote class="twitter-tweet tw-align-center">
    <p lang="ja" dir="ltr">本日はオンラインビデオ通話スペースGather Townを使って春学期最終発表会を行いました！<br>現実と同じように、発表者のデモスペースに話を聞きに集まる様子が新鮮でした！ <a
            href="https://t.co/6oKselLPLv">pic.twitter.com/6oKselLPLv</a></p>&mdash; 渡邊恵太 研究室✨明治大学 先端メディアサイエンス学科
    (@keita_lab) <a href="https://twitter.com/keita_lab/status/1423230673855254537?ref_src=twsrc%5Etfw">August 5,
        2021</a>
</blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<p>
    Gatherはレトロゲームチックなビデオ会議アプリで、アバターが近づいた人同士が喋れるというものです。
</p>
<p>
    対面のような雰囲気で議論できると考え、デモセッションで取り入れました。
</p>
<img border="0" src="https://gyazo.com/da69139c199d1a8b827be5c27369b536/raw/" alt="gather" />
<p>
    本来全日程Gather内でやる予定でしたが、想像以上にサーバが重かったため、登壇形式の発表はZoomで行いました。
</p>
<p>
    狙い通り対面っぽく気軽に議論できたという声があったため、快適に利用できるようサーバ環境が改善されることを願っています。
</p>