<p>
    他研究室のマネージャとオンラインでの進行方向やタイムスケジュールを話し合い、当日の合同卒論発表会を運営しました。
</p>
<p>
    ZoomとScrapboxを用いての発表形式でした。
</p>
<p>
    もちろん僕自身も卒業研究を発表してきました。
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Q3w-iUvidOk" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
</iframe>
<p>
    研究室内の議論のときに、後輩やシャイな人からの発言が少ないことに課題を感じ、発言しやすいようなチャットシステムを作成しました。
</p>
<p>
    用いた技術は、Vue.js + Firebaseです。先輩に基礎を教わりながら、なんとか完成できました。
</p>
<p>
    このチャットシステムを実際に(研究室内の)研究発表会で使ってもらった結果、発言が増えたのを確認しました。
</p>
