<p>
    同期の人と2人で以下の論文を発表してきました。
</p>
<li>
    <ul><a href="https://tea-kawashima.herokuapp.com/articles/research/videogameSurvey">日本のHCI分野におけるビデオゲームを使った評価に関するサーベイ</a></ul>
    <ul><a href="https://tea-kawashima.herokuapp.com/articles/research/ovglCaseStudy">HCI研究における評価実験用ビデオゲームの要件探究とオープンビデオゲームライブラリを用いたケーススタディ</a></ul>
</li>
<p>
    ハイブリット形式での開催でしたが、2人のみ出張だったので感染対策をしっかりおこない現地（石垣島）で参加しました。
</p>
<p>
    久しぶりの登壇発表でしたが、先生方といろいろ議論できてためになりました。
</p>
<p>
    観光は控えてすぐに帰りましたが、2日目の早朝に海だけ見に行きました。
</p>
<p>
    海沿いの公園にﾈｺﾁｬﾝがたくさんいて癒されました。
</p>
<img src="https://gyazo.com/5bc783ce06e9953f1688adf3113ca15d/raw/" alt="石垣島のﾈｺﾁｬﾝ" />