<p>
  このサイトは、ポートフォリオサイト version2 です。
  <a href="https://tea-kawashima.herokuapp.com/">こちら</a>！
</p>
<p>
  ポートフォリオサイト version2 についての記事は
  <a href="http://localhost:3000/articles/work/homepage2/">こちら</a>
  に書いてあります。
</p>
<p>
  ポートフォリオサイト version1は
  <a href="https://tea-kawashima.work/">こちら</a>
  に置いてあります。
</p>
<p>
作成したプログラミング作品やWEBアプリケーションを
載せるために作成しました。
</p>
<img src="https://gyazo.com/93a164f3cc9568c5d45f0e5bfad644d0/raw/" />
<p class="caption">
作品集
</p>
<p>
今ではその他にも、インターンやサークルの活動記録についても載せています。
</p>
<p>
エントリーシートの代わりにこれを提出しても問題無いくらいの記事を目指して書いています。
</p>
<p>
企業に見せるポートフォリオサイトがこんな子供っぽいデザインで大丈夫かという心配もありますが、
そういう遊び心を持った人なんだなぁと思ってもらえると嬉しいです。
</p>
<p>
技術的な話を少しすると、このサイトはWordPressなどのツールを使わずに
1から自分でHTML/CSS/JavaScriptを書いています。
</p>
<p>
最初はそれぞれの記事をPHPとSQLiteを使って読み込んでいたのですが、
後々簡単に更新したいと思ってJavaScriotとJSONを使う方式に変更しました。
</p>
<p>
が、PHPはサーバで側で読み込むから圧倒的に速いやんけ...ということを知り、
ちょっと後悔しています。
</p>
<p>
でもまぁ編集のしやすさは今の方が良いので、このままで良いかなという感じです。
</p>
