<p>
  このサイトのことです。
</p>
<p>
  以前のポートフォリオサイト（version1）は
  <a href="https://line.me/S/sticker/12482752">こちら</a>
  に置いてあります。
</p>
<p>
  ポートフォリオサイト version1 の記事は
  <a href="https://tea-kawashima.herokuapp.com/articles/work/homepage1">こちら</a>。
</p>
<p>
  以前のポートフォリオとは雰囲気をガッツリ変え、
  スマートなカッコ良い感じを目指したのですが、いかがでしょうか。
</p>
<p>
  でもヘッダーとか見出しとかありきたりになってしまったので、
  デザインの勉強不足ですね。
</p>
<img src="https://gyazo.com/889a64e8a028e2be8a356638b3401ac4/raw/" />
<p>
  技術的には、Node.jsを使いHerokuで公開しました。
</p>
<p>
  以前のポートフォリオとは違い、ちゃんと記事ごとにページを作りました。
</p>
<p>
  タグ機能も実装しています。
</p>
<img src="https://gyazo.com/08eb660236eda10714459e6443258e3e/raw/" />
<p>
  こだわったところは、トップページの作品の画像集がスライドしているところで、
</p>
<p>
  カーソルをホバーしたら色が付き、ちゃんと記事にリンクしているところです。
</p>
<p>
  デザイン的に一番お気に入りなのは、Aboutのところです。
</p>
<img src="https://gyazo.com/75fea58d7a7335ac26f292a98ad5aca7/raw/" />
