<p>
    11月に2つの国際会議に参加し、口頭発表およびデモ発表をしてきました。
</p>
<p>
    1つ目は、<a href="https://chiuxid.org/accepted-paper/">8th International HCI and UX Conference in Indonesia（CHIuXiD2022）</a>にて、「<a href="https://t-kawashima-univ.onrender.com/articles/research/ah-aloud">"Ah-aloud": Method for Evaluating Cognitive Processes Occurring During Tasks from Vocal Information</a>」という題で口頭発表してきました。
</p>
<p>
    バリ島とオンラインのハイブリッド形式で開催されており、自分はオンラインで参加しました。
</p>
<p>
    初めての国際会議で、オンラインということもあり質疑に手間取りましたが、無事終えれてよかったです。
</p>
<img src="https://gyazo.com/a2a214564ddcd93a81162c3b75f949ed/raw/" alt="発表中の様子" />
<p class="caption">CHIuXiD2022の参加証明書</p>
<p>
    2つ目は、<a href="https://vrst.acm.org/vrst2022/">The 28th ACM Symposium on Virtual Reality Software and Technology（VRST2022）</a>にて、共著として参加している「<a href="https://t-kawashima-univ.onrender.com/articles/research/telestick">TeleStick: Video Recording and Playing System Optimized for Tactile Interaction using a Stick</a>」をデモ発表してきました。
</p>
<p>
    今年のVRSTはつくばで開催だったため、現地で発表してきました。
</p>
<p>
    オンラインよりかは上手くコミュニケーションできた気がします。
</p>