<p>
  私は、現在学部を卒業した後は大学院に進学しようと決めていました。
</p>
<p>
  しかし、実際の社会の現場を早く経験してみたいという思いがあり、
  3年次の夏休みに4社の短期インターンに参加してきました。
</p>
<p>
  具体的な会社名やインターン内容は伏せますが、
  どんなことを経験したのかを簡潔に書いていこうと思います。
</p>

<h3>1社目「S社」- Webサイト制作の1dayインターン</h3>
<p>
  私のなりたい職業のうちの一つに、Webエンジニアがあるため好きな内容のインターンでした。
</p>
<p>
問題形式で課題が出され、解いていくうちにWebサイトが出来上がっていくというものでした。
</p>
<p>
  参加者のうち多くの問題を解けた人には、「成績優秀者」に選ばれて賞金がもらえるのですが、
  恐縮ながら成績優秀者に選んでいただきました。
</p>
<p>
  その後特別選考に招待していただき、人事部の方と食事をしながらお話しする機会をいただきました。
</p>
<p>
  その頃はまだ進路に迷っていたため相談に乗っていただいたり、社内の雰囲気を聞けたりと、
  とても有意義な時間を過ごすことができました。
</p>
  <img src="https://gyazo.com/f7028ac16f65bcf9fe7da69b118e532b/raw/" />
  <p class="caption">人事部の方とお話しさせていただいたときの食事</p>

<h3>2社目「N社」- Webサービス開発の3日間のインターン</h3>
<p>
  2人1組になりサービスを考え、ペアプログラミングで開発していくという内容でした。
</p>
<p>
  私のグループでは、「服装で検索をかけると、その服装を着ていけるイベントを提示してくれる」
  というサービスを作りました。
</p>
<p>
惜しくも優秀賞には選ばれなかったのですが、メンターの方に「一番発想が独創的だった」と言っていただきました。
</p>
<p>
  ペアプログラミングは初体験で最初は不安でしたが、上手くコミュニケーションを取りながら開発できて楽しかったです。
</p>
<p>
この記事のトップ画像は一緒に開発したペアの方との写真です。
</p>
  <img src="https://gyazo.com/3b88d3a60065c546deca025f303cdf1d/raw/" />
  <img src="https://gyazo.com/8e30d0655e481f7f9e40f63c996ebfea/raw/" />
  <p class="caption">開発したシステム</p>

<h3>3社目「A社」- ゲーム開発の5日間のインターン</h3>
<p>
  前からUnity/C#を用いたゲーム開発をしてみたいと思っていて、この機に学べると思い参加しました。
</p>
<p>
  Unityの公式チュートリアルを一通りおこなった後、オリジナル要素を作成しました。
</p>

  <h3>4社目「S社」- アプリケーション企画の2日間のインターン</h3>
<p>
  これまでの開発インターンとは違い、アプリケーションの企画を考えるインターンに挑戦しました。
</p>
<p>
  4、5人で1グループになり議論しながらアプリケーションを考えていきました。
</p>
<p>
  どのようにしたら使ってもらえるのか、どんな機能が使いたいかなどを
  お客様の目線に立って考えるのは難しかったですが、新鮮で楽しかったです。
</p>
