<p>
    国会で議論されている内容をより身近に感じてもらうため、LINEのように国会議事録を見れるよう開発しました。
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/s79q3ysqk-w" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
<p>
    PythonとPHPを用いて、国会会議録検索システムのAPIからデータを取得しています。
</p>
<p>
    発話者のことを調べたくなったら、名前の部分をクリックすることでWikipediaに飛べます。
</p>
<p>
    LINEに寄せるためCSSでの装飾も細かくこだわりました。
</p>
<p>
    こちらのサイトは大学のVPSを用いているため、現在はアクセスできません。
</p>