<p>
  動画は, プログラムがうまく動作しなかったときのために作ったデモ動画をそのまま載せます.
  </p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/UxVsGGZxpyg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
  </iframe>
  <p>
　*音声ありです. 音がプツプツしてしまっていますが, 仕様です.
</p>
  <p>
ここからは作品についての細かな説明をしていきます. 先に動画を見てから読むことをお勧めします.
</p>
<p>
  この作品は, 松○しげるさんを暗闇の中から探しだだす, というゲームになっています.
</p>
<p>
まず, ゲームを起動すると二つのボタンが出てきます.
</p>
<p>
「松○しげるとは？」というボタンを押すと, 松○しげるさんのWikipediaが開きます.
</p>
<p>
みなさん存じているとは思いますが, 知らない人に向けた親切な設計です.
</p>
<p>
次にレベル選択画面です. レベルは1~10まで用意しています.
</p>
<p>
  レベルが上がるにつれて, ○崎しげるさんを見つけ出すのが難しくなっていきます.
</p>
<p>
  もっと細かく言うと, レベル1~5までは背景が黒くなっていき, レベル6~10までは, 松崎○げるさん自体が透明化していきます.
</p>
<p>
正解すると, 松崎し○るさんの公式Twitter, 公式LINEブログ, 公式GREEブロクのリンクへ飛べるボタンが現れます.
</p>
<p>
隠し要素として, レベル選択画面でキーボードの「s」「g」「r」を同時押しすると, 「レベルしげ○」というのが現れます.
</p>
<p>
  こちらはとても探し出すのが難しいですが, 実は松崎○しげるさんがデスクトップ背景に隠れています.
  </p>
  <p>
    発表会のときは, これをオチに使いました.
  </p>
