<p>
  私は、「中野ダンスサークル SIGN」（<a href="https://twitter.com/sign_dance" target="_blank">Twitter</a>）というダンスサークルに所属していました。
</p>
<p>
  SIGNは3年生の明大祭で現役を卒業する決まりなので、2019年での明大祭が私の現役最後のパフォーマンスでした。
</p>
<p>
  今年は、明大祭1日目にパフォーマンスエリアで行われた「SIGN SHOWCASE」と、
  2日目にメインステージで行われた中夜祭のコラボパフォーマンスに出演しました。
</p>

  <h3>SIGN SHOWCASE - Lockのジャンルリーダーを担当</h3>
  <p>
    今回はSIGN史上最も長い尺でのパフォーマンスとなりました。
  </p>
  <p>
    それほどサークルの人数や規模が大きくなってきたということです。嬉しいですね。
  </p>
  <p>
    私は、「Lock」と「Break」というジャンルを躍りました。
  </p>
  <p>
    「Lock」に関してはジャンルリーダーを務め、練習での指導や振り付け・立ち位置の構成を考えました。
  </p>
  <p>
    SIGN SHOWCASE の再生リストは↓こちら↓です。ぜひご覧ください。
  </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PL7OH8NmtH0e0vteC1TsLWeVC_z_IN5aEL" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>

  <h3>中夜祭 - ジャグリングサークルとコラボして優勝！</h3>
  <p>
    中夜祭は、5組のコラボ団体がパフォーマンスし、それを見ている観客が「もう一度見たい」と思うものに投票しアンコールが決まります。
  </p>
  <p>
    今回SIGNは、ジャグリングサークルDietzさん（<a href="https://twitter.com/meiji_juggling" target="_blank">Twitter</a>）とコラボしました。
  </p>
  <p>
    練習の成果を思う存分発揮し、投票の結果、なんと優勝（アンコール決定）！
  </p>
  <p>
    なんども練習を重ねた甲斐がありました。
  </p>
  <div>
  <blockquote class="twitter-tweet tw-align-center"><p lang="ja" dir="ltr">【🏆中夜祭優勝🏆】<br>SIGN×Dietz<br>22名のメンバーが明治の中夜祭でぶちかましました！結果は優勝！！🌈<br><br>最高のパフォーマンスを披露できたと思います！みなさん応援ありがとうございました！！😊
    <a href="https://twitter.com/hashtag/%E6%98%8E%E5%A4%A7%E7%A5%AD?src=hash&amp;ref_src=twsrc%5Etfw">#明大祭</a><a href="https://twitter.com/hashtag/%E4%B8%AD%E5%A4%9C%E7%A5%AD?src=hash&amp;ref_src=twsrc%5Etfw">#中夜祭</a>
    <a href="https://twitter.com/hashtag/%E6%98%8E%E6%B2%BB%E6%99%82%E4%BB%A3%E3%81%AF%E7%B5%82%E3%82%8F%E3%82%89%E3%81%AA%E3%81%84?src=hash&amp;ref_src=twsrc%5Etfw">#明治時代は終わらない</a>
    <a href="https://twitter.com/hashtag/%E3%82%B8%E3%83%A3%E3%82%B0%E3%83%AA%E3%83%B3%E3%82%B0%E3%82%B5%E3%83%BC%E3%82%AF%E3%83%ABDietz?src=hash&amp;ref_src=twsrc%5Etfw">#ジャグリングサークルDietz</a>
    <a href="https://twitter.com/hashtag/%E4%B8%AD%E9%87%8E%E3%83%80%E3%83%B3%E3%82%B9%E3%82%B5%E3%83%BC%E3%82%AF%E3%83%ABSIGN?src=hash&amp;ref_src=twsrc%5Etfw">#中野ダンスサークルSIGN</a> <a href="https://t.co/kX6qKGgp4C">pic.twitter.com/kX6qKGgp4C</a></p>
    &mdash; 中野ダンスサークルSIGN×ジャグリングサークルDietz (@135_chuyasai_1) <a href="https://twitter.com/135_chuyasai_1/status/1191009311557767168?ref_src=twsrc%5Etfw">November 3, 2019</a></blockquote>
  </div>
  <p>
    お互い楽しくパフォーマンスできたと思います。
  </p>
  <p>
    ダンスとジャグリングのコラボということで、SIGNがジャグリングをしたり、Dietzがダンスをしたり、お互いの技を組み合わせたりと、
    コラボならではのパフォーマンスを行いました。
  </p>
  <p>
  今回私は、ダンスパートの振り付け作成と指導を担当しました。
</p>
<p>
  「Lock」と「Break」というジャンルを用いて、
  「楽しさ」と「ジャグリングの動きとのリンク」を重視して考えました。
</p>
<p>
  また、ジャグンリングでは「ポイ」という道具に挑戦し、本番では上手く成功できました。
  </p>
  <div>
<blockquote class="twitter-tweet tw-align-center"><p lang="ja" dir="ltr">【中夜祭から1週間...】<br>SIGN×Dietzの第135回明大祭 中夜祭のダイジェストPVです。<a href="https://twitter.com/hashtag/%E6%98%8E%E5%A4%A7%E7%A5%AD?src=hash&amp;ref_src=twsrc%5Etfw">#明大祭</a><a href="https://twitter.com/hashtag/%E4%B8%AD%E5%A4%9C%E7%A5%AD?src=hash&amp;ref_src=twsrc%5Etfw">#中夜祭</a><a href="https://twitter.com/hashtag/%E6%98%8E%E6%B2%BB%E6%99%82%E4%BB%A3%E3%81%AF%E7%B5%82%E3%82%8F%E3%82%89%E3%81%AA%E3%81%84?src=hash&amp;ref_src=twsrc%5Etfw">#明治時代は終わらない</a><a href="https://twitter.com/hashtag/%E3%82%B8%E3%83%A3%E3%82%B0%E3%83%AA%E3%83%B3%E3%82%B0%E3%82%B5%E3%83%BC%E3%82%AF%E3%83%ABDietz?src=hash&amp;ref_src=twsrc%5Etfw">#ジャグリングサークルDietz</a><a href="https://twitter.com/hashtag/%E4%B8%AD%E9%87%8E%E3%83%80%E3%83%B3%E3%82%B9%E3%82%B5%E3%83%BC%E3%82%AF%E3%83%ABSIGN?src=hash&amp;ref_src=twsrc%5Etfw">#中野ダンスサークルSIGN</a>
  <a href="https://twitter.com/hashtag/%E5%BF%9C%E6%8F%B4%E3%81%82%E3%82%8A%E3%81%8C%E3%81%A8%E3%81%86%E3%81%94%E3%81%96%E3%81%84%E3%81%BE%E3%81%97%E3%81%9F?src=hash&amp;ref_src=twsrc%5Etfw">#応援ありがとうございました</a> <a href="https://t.co/HK60W2Iwys">pic.twitter.com/HK60W2Iwys</a></p>
  &mdash; 中野ダンスサークルSIGN×ジャグリングサークルDietz (@135_chuyasai_1) <a href="https://twitter.com/135_chuyasai_1/status/1193459282856988674?ref_src=twsrc%5Etfw">November 10, 2019</a></blockquote>
</div>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
