<p>
    <a href="https://tea-kawashima.herokuapp.com/articles/research/ovglCaseStudy">オープンビデオゲームライブラリの研究</a>の一環として、複数のWebカメラによる映像を同時に録画できる機能「<a href="https://keitalab.github.io/OVGL-recording/"
        rel="noopener noreferrer">Multi View Recorder</a>」を開発しました。
</p>
<p>
    技術はJavaScriptで、Media​Stream Recording APIを用いました。
</p>
<p>
    getUserMediaで取得した複数の映像をcanvasに同時に投影し、captureStreamで映像を1つにして録画しています。
</p>
<img src="https://gyazo.com/8c8d38317656d3e8ecd5b5f8b9d6c4ae/raw/" alt="Multi View Recorder" />