<p>
  今年のオープンキャンパスは、コロナの影響でオンラインで行われました。
</p>
<p>
  そこで、僕の研究室では夏休みを通して、高校生へ向けた宣伝活動を行いました。
</p>
<p>
  その活動で僕は総合マネージャを担当し、
  企画を考えたりもろもろの運営をしました。
</p>
<p>
  メインの活動としては、学生が実際に使っている
  「プロトタイピング」に関する企画を行いました。
</p>
<p>
  詳しくは<a href="https://keita-lab.jp/OC2020">研究室のホームページ</a>をご覧ください。
</p>
<img src="https://gyazo.com/ad59fe644c1071daa3d3a3cbb54d8687/raw/" />
<p class="caption">
  研究室のホームページ
</p>
<p>
  その他にも、Twitterを運営する班や特設ウェブページを作成する班などに分けて
  活動を行いました。
</p>
<p>
  このようなオンラインでのイベント活動で上に立って仕切るというのは、
  普段やらないので貴重な経験でした。
</p>
<p>
  色々と反省点はありますが、無事に終えられたので一安心です。
</p>
<p>
  研究室のメンバーがたくさん頑張ってくれたので、
  ホームページや企画の動画を是非見て欲しいです。
</p>
