<p>
<a href="/website/works/works.html?#FontsToChooseSnack">こちらの研究成果</a>を発表してきました。
</p>
<p>
研究内容は上のリンクから見ていただければと思います。
</p>
<p>
ここでは感想を綴っていきたいと思います。
</p>
<p>
  研究発表してきたと言っていますが、私は論文作成を担当し、発表はもう一人の主著である築舘さんがしてくれました。
</p>
<p>
  学部2年生のときに行った研究で学部3年からは異なる研究室に所属したのですが、
  せっかくなら発表まで持っていきたいということで、この時期に発表しました。
</p>
<p>
  初めての研究でしたが、共著である先輩方や先生にアドバイスをもらいながら、なんとか形にすることができました。
</p>
<p>
  研究の進め方や考え方などまだまだ未熟ですが、この時期に経験できたのはとても大きかったです。
</p>
<p>
  3年生になりこれからが研究山場だと思いますが、この経験を活かしていきたいと思います。
</p>
<p>
  築舘、先生、先輩方、その他関係者のみなさま、ありがとうございました！
</p>
<img src="https://gyazo.com/dec651b42c247282f11b0d98d6a1d0e8/raw/" />
<p class="caption">
  沖縄の海
</p>
<p>
  研究会の少しの合間を使って海を見てきました。
</p>
<p>
  やっぱり沖縄の海は透明度が高くてきれいですね。
</p>
<p>
  小学生以来の沖縄なので、海だけでもすごくテンションが上がりました。
</p>
<p>
  沖縄でのご飯は沖縄そばが大半でした。
  3、4回くらい食べた気がします。
</p>
<p>
  食えるもんは食える内に食っとかないとですしね。美味しかったです。
</p>
<p>
  あとサニーゴも捕まえられました。めでたしめでたし。
</p>
<img src="https://gyazo.com/b09aaeccc1b4699a5d75e61407c6afb7/raw/" />
<p class="caption">
  沖縄そばとサニーゴ
</p>
