<p>
    この研究では、研究に使いやすいビデオゲームを搭載した「オープンビデオゲームライブラリ」を提案しました。
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/TpbIl00uLDo" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
</iframe>
<p>
    <a href="https://ipsj.ixsq.nii.ac.jp/ej/?action=pages_view_main&active_action=repository_view_main_item_detail&item_id=212571&item_no=1&page_id=13&block_id=8">こちら</a>で論文が公開されています。
</p>
<p>
    研究者がゲーム研究を行う場合、市販のビデオゲームは著作権の問題で研究対象や素材としての利用が難しいです。
</p>
<p>
    そのため研究者はビデオゲームを自作することがありますが、制作コストの課題から簡素になる傾向があります。
</p>
<p>
    また研究者自身がビデオゲームを自作することは研究の客観性が保てず、他の研究との相対評価できないということも問題です。
</p>
<p>
    それらの問題を解決するためオープンビデオゲームライブラリを提案し、3つのビデオゲームを試作してみました。
</p>
<img border="0" src="https://gyazo.com/00e325ac4507b7e62e4f99641228367d/raw/" alt="Hunter-Chameleon" />
<p>
    Unityを用いての、初めての本格的な開発でした。
</p>
<p>
    また上記のデモ動画と<a href="https://keita-lab.jp/projects/open_videogame_library">ホームページ</a>も作成しました。
</p>