<p>
    この研究は<a
        href="https://tea-kawashima.herokuapp.com/articles/research/openVideogameLibrary">オープンビデオゲームライブラリ</a>プロジェクトに関する研究です。
</p>
<p>
    この論文は共著として参加したものですが、一部機能の開発も担当しました。
</p>
<p>
    <a
        href="https://ipsj.ixsq.nii.ac.jp/ej/?action=pages_view_main&active_action=repository_view_main_item_detail&item_id=214589&item_no=1&page_id=13&block_id=8">こちら</a>で論文が公開されています。
</p>
<p>
    研究に必要なビデオゲームの機能開発と、ケーススタディをおこないました。
</p>
<p>
    ゲームプレイ画面と複数のWebカメラによる映像を同時に録画できる機能「<a href="https://keitalab.github.io/OVGL-recording/" rel="noopener noreferrer">Multi View Recorder</a>」の実装を担当しました。
</p>
<p>
    技術はJavaScriptでMedia​Stream Recording APIを用いました。
</p>