<p>
  <a href="https://sb-blog.glitch.me/">
  こちらに公開しています。
  </a>
</p>
<img src="https://gyazo.com/c7779f893b4fcdf49e0a08136f4fc8f1/raw/" />
<p>
  Scrapboxにこのように箇条書きした記事を
</p>
<img src="https://gyazo.com/857163c829a78ceff76df3e24c179b77/raw/" />
<p>
  このように簡易的なブログとして公開できるものをつくりました。
</p>
<p>
  ScrapboxのAPIを利用して、ページ一覧やページ内容を取ってきています。
</p>
<p>
  ピン留めしたページを公開するようにしているので、
  Scrapbox内で、編集中のものはまだ公開しないようにしたりできます。
</p>
<p>
  今のこのサイトのブログを完全にこっちに移行しようとおもったのですが、
  まだまだ改善点が多いので保留しています。
</p>
<p>
  Node.jsを使ってアプリを開発するのも初めてだったので、
  コードが汚かったりするのもまだ移行したくない原因です。
</p>
<p>
  ただ、Scrapboxでパパッと記事書いて、パパッと公開できたらかなり更新が楽になりそうなので、
  いつか実用したいと思っています。
</p>
