<p>
    （2022年11月追記）国際会議VRST2022にも参加し、デモ発表してきました → <a href="https://dl.acm.org/doi/10.1145/3562939.3565653">TeleStick: Video Recording and Playing System Optimized for
        Tactile Interaction using a Stick</a>
</p>
<p>
    <a
        target="_blank"
        href="https://conference.vrsj.org/ac2022/program/doc/1C4-3.pdf"
        rel="noopener noreferrer"
    >こちら</a>で論文が公開されています。
</p>
<p>
    <a target="_blank" href="https://keita-lab.jp/telestick/" rel="noopener noreferrer">ホームページ</a>も作成したので、そちらを見ていただけると分かりやすいと思います。
</p>
<p>
    この論文は共著として参加したものです。
</p>
<p>
    棒と触覚（振動）を通じて、映像の中に入り込むような体験ができるデバイスです。
</p>
<img src="https://gyazo.com/416627415aee50d831e85f18b786594a/raw/" alt="TeleStickのイメージ図" />
<p class="caption">
    TeleStickのイメージ図
</p>
<p>
    手持ちの棒と映像内の棒が1本の繋がっている棒のように感じられます。
</p>
<p>
    また映像の音を振動に変換しているので、映像内の棒がモノを撫でたり叩いたりする触覚も伝わってきます。
</p>