<p>
    東京大学メタバース工学部のジュニア講座で
    <a href="https://www.t.u-tokyo.ac.jp/meta-school-junior/22a12" target="_blank" rel="noopener noreferrer">起業入門</a>
    という公開授業があり、そこに参加しました。
</p>
<p>
    最終課題はビジネスアイデアをスライドにまとめるもので、優秀者に選ばれた人はバーチャル安田講堂でプレゼンします。
</p>
<p>
    そこで6人の優秀者のうちの1人に選んでいただき、プレゼンしてきました。
</p>
<p>
    バーチャル空間上でプレゼンすることは初めてだったので、貴重な経験をいただきました。
</p>
<p>
    ビジネスに関する知識が乏しかったのですが、授業やフィードバックを聞いて起業に対する興味が大きくなりました。
</p>
<img src="https://gyazo.com/e716960e221da66f62b75b33cebc6923/raw/" alt="ジュニア講座「起業入門」参加証" />
<p class="caption">
    ジュニア講座「起業入門」参加証
</p>

