<p>
    この研究は<a
        href="https://tea-kawashima.herokuapp.com/articles/research/openVideogameLibrary">オープンビデオゲームライブラリ</a>プロジェクトに関する研究です。
</p>
<p>
    <a
        href="https://ipsj.ixsq.nii.ac.jp/ej/?action=pages_view_main&active_action=repository_view_main_item_detail&item_id=214589&item_no=1&page_id=13&block_id=8">こちら</a>で論文が公開されています。
</p>
<p>
    オープンなビデオゲーム開発のため、先行研究をサーベイしてビデオゲームの利用目的や特徴などを分析しました。
</p>
<p>
    約200本の論文（対象外のものを含めると約300本）を読み、論文には58本引用しました。
</p>
<p>
    研究者のニーズを発見する課題発見能力が身についたと思います。
</p>