<p>共著として参加した<a href="https://tea-kawashima.herokuapp.com/articles/research/telestick">こちらの論文</a>のデモ発表を、北海道で開催されたVR学会で行いました。</p>
<blockquote class="twitter-tweet tw-align-center">
    <p lang="ja" dir="ltr">VR学会にてTelestick をデモ展示しています！<br>是非体験しにお越しください！<a
            href="https://twitter.com/hashtag/VRSJ2022?src=hash&amp;ref_src=twsrc%5Etfw">#VRSJ2022</a> <a
            href="https://twitter.com/hashtag/VR%E5%AD%A6%E4%BC%9A?src=hash&amp;ref_src=twsrc%5Etfw">#VR学会</a> <a
            href="https://t.co/w81MRLXKk5">pic.twitter.com/w81MRLXKk5</a></p>&mdash; 渡邊恵太 研究室✨明治大学 先端メディアサイエンス学科
    (@keita_lab) <a href="https://twitter.com/keita_lab/status/1569905948935979010?ref_src=twsrc%5Etfw">September 14,
        2022</a>
</blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<p>システムをたくさん持っていっていたので、回転率高くデモすることができました。</p>
<p>北海道でのご飯は海鮮やジンギスカンを食べました。美味しかったです。</p>
<img src="https://gyazo.com/c7301ca3593704823fb69cbf5d42966f/raw/" alt="北海道で食べた筋子のお寿司" />
