.skill table{
  margin: 64px auto;
  line-height: 48px;
}
.skill table th{
  width: 40%;
  text-align: left;
  font-weight: normal;
}
.skill table td{
  width: 40%;
  text-align: center;
}

.certification ul {
  width: 80%;
  margin: 64px auto;
}
.certification ul li{
  line-height: 48px;
}
