<header>
  <div class="header-wrapper">
    <h1><a href="/">T.Kawashima's website</a></h1>
      <nav>
        <input id="nav-input" class="nav-unshown" type="checkbox">
        <label id="nav-open" for="nav-input"><span></span></label>
        <label id="nav-close" class="nav-unshown" for="nav-input"></label>
        <div id="nav-content">
          <a class="link-ani-underline" href="/#about">About</a>
          <a class="link-ani-underline" href="/#research">Research</a>
          <a class="link-ani-underline" href="/#work">Work</a>
          <a class="link-ani-underline" href="/#blog">Blog</a>
        </div>
      </nav>
    </div>
</header>
